.caja   {
    width: 300px;  
    height: 250px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    transition: all 0.5s ease;/*hace que la transformacion sea menos brusca, la transicion siempre se ubica en el elemento base*/
    cursor: pointer;
}

.caja:hover {
   /* transform: scale(1.2);cuando pongo el cursor la caja se agranda*/
    background-color: blue;
    color: white;
}
/* cambia de color la caja y la palabra cuando el cursor pasa por encima de la caja */

img{
    filter: grayscale(100%);
    transition: all 0.5s ease;
    opacity: 0.5;
}
/* le cambia el color a la imagen con un filtro para que cuando pase el cursor aplicando la propiedad img:hover cambie a un color distinto */

img:hover   {
    filter: grayscale(0);
    opacity: 1;
}
/* cambia el color de la imagen cuando el cursor pasa por encima */