h2{
    color: blue;/*color de la tipo*/
}

h1{
    color: red;
    background-color: yellow;/*color del fondo*/
    text-align: center;/*Alineacion del titulo en el centro*/
}

p{
    color: green;/*color a todos los p*/
}

.destacados{/*. para asignarle estilo a una clase*/
    color: orange;
    font-size: 22px; /*tamaño de la fuente*/
    font-style: italic; /*italic*/
    font-weight: bold; /*negrita*/
}

#rojo   { /*rojo es un id*/
    width: 300px; /*ancho*/
    height: 400px;/*alto*/
    background-color: lightcoral;
    text-align: center; /*alinea el contenido dentro de la caja*/
    margin-bottom: 50px; /*distancia inferior de la caja*/
    border: 5px solid black; /*grosor tipo color*/
    /*box-sizing: border-box;*/
}

#celeste    { /*celeste es un id*/
    width: 300px;
    height: 400px;
    background-color: lightblue;
    padding: 20px; /*se utiliza para "margenes internos" desde el borde al margen interno*/
    box-sizing: border-box; /*acomoda las cajas para que queden en la misma linea*/
    border-right: 3px dashed #ff0000;/*hace una linea en el borde derecho*/
}

/*
regla de css
h2 > tipo de selector: etiqueta
y adentro van las distntas propiedades con sus valores 
*/