.contenedor {
    background-color: blueviolet;
    display: inline-flex;
    /* para que los items mantengan su tamaño */
    /*flex-direction: row-reverse;fila invertida 4-3-2-1*/
    /* por defecto la direccion viene en fila consecutiva 1-2-3-4 */
    flex-direction: column; /* tambien está columna invertida flex-direction: column-reverse;*/
}

.item   {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 20px;
}